<h1>Twitter sentiment analysis</h1>

---> To get High Sentiment Tweet

---> To get Low Sentiment Tweet

---> To get Most Retweeted Tweet

---> To get User Producing most Tweets

In [3]:
import html
import json
import string
import re
import nltk
nltk.download('stopwords')
nltk.download('punkt')
from nltk import word_tokenize
from nltk.corpus import stopwords
from textblob import TextBlob
from wordcloud import WordCloud
import pandas as pd
import matplotlib.pyplot as plt
#Collect relevant tweets through the Twitter API.
import json
import tweepy as tw

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

<h2>Connecting to Twitter API</h2>

In [4]:
#IMPORTANT: enter proper access credential in config_twitter.py file
import config_twitter

In [5]:
#function to establish an initial API connection, respecting the rate limit
def connect_api_client():
    auth = tw.OAuthHandler(config_twitter.CONSUMER_KEY, config_twitter.CONSUMER_SECRET)
    auth.set_access_token(config_twitter.ACCESS_TOKEN, config_twitter.ACCESS_SECRET)
    api = tw.API(auth, wait_on_rate_limit=True)
    try:
        # returns False if credentials could not be verified
        api.verify_credentials()
        user = api.verify_credentials()
        if not user:
            raise("Credentials could not be verified: Please check config.py")
        print(f"Connected to Twitter API as {user.name}")
    except Exception as e:
        raise e
    return api

In [6]:
api = connect_api_client()

Connected to Twitter API as Ganesh Kumaran Masilamani

<h2>Collecting Data for Charity</h2>

In [7]:
#construct a search query
query = 'charity OR "charity donation" OR "spend charity" OR "pay charity" -filter:retweets'
#decide how many tweets to query
ntweets = 2000
#search and collect relevant tweets
tweets = [tweet._json for tweet in tw.Cursor(api.search, q=query, lang="en", tweet_mode='extended').items(ntweets)]
len(tweets)

2000

In [8]:
#example tweet content (json structure)
tweets[0]

{'contributors': None,
 'coordinates': None,
 'created_at': 'Tue Aug 10 22:36:22 +0000 2021',
 'display_text_range': [20, 192],
 'entities': {'hashtags': [],
  'symbols': [],
  'urls': [],
  'user_mentions': [{'id': 351955341,
    'id_str': '351955341',
    'indices': [0, 8],
    'name': 'Trevor Stone',
    'screen_name': 'tms1967'},
   {'id': 248741839,
    'id_str': '248741839',
    'indices': [9, 19],
    'name': 'Tim Dunn',
    'screen_name': 'MrTimDunn'}]},
 'favorite_count': 0,
 'favorited': False,
 'full_text': '@tms1967 @MrTimDunn Got them! A very nice set turned up in a local charity shop last year. I briefly worked with JHT as a teenager, on the abortive railway museum in Crystal Palace goods yard.',
 'geo': None,
 'id': 1425224530012803075,
 'id_str': '1425224530012803075',
 'in_reply_to_screen_name': 'tms1967',
 'in_reply_to_status_id': 1425218524264423426,
 'in_reply_to_status_id_str': '1425218524264423426',
 'in_reply_to_user_id': 351955341,
 'in_reply_to_user_id_str': '351955341',
 'is_quote_status': False,
 'lang': 'en',
 'metadata': {'iso_language_code': 'en', 'result_type': 'recent'},
 'place': {'attributes': {},
  'bounding_box': {'coordinates': [[[-0.245869, 51.330352],
     [-0.117306, 51.330352],
     [-0.117306, 51.3934428],
     [-0.245869, 51.3934428]]],
   'type': 'Polygon'},
  'contained_within': [],
  'country': 'United Kingdom',
  'country_code': 'GB',
  'full_name': 'Sutton, London',
  'id': '758461cd66db17e0',
  'name': 'Sutton',
  'place_type': 'city',
  'url': 'https://api.twitter.com/1.1/geo/id/758461cd66db17e0.json'},
 'retweet_count': 0,
 'retweeted': False,
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'truncated': False,
 'user': {'contributors_enabled': False,
  'created_at': 'Sun Dec 19 14:12:08 +0000 2010',
  'default_profile': True,
  'default_profile_image': False,
  'description': 'Editor-in-Chief of Railway Gazette Group. URC Elder, husband/father. For rail industry news follow @railwaygazette, for urban rail follow @metroreportint',
  'entities': {'description': {'urls': []}},
  'favourites_count': 6719,
  'follow_request_sent': False,
  'followers_count': 2705,
  'following': False,
  'friends_count': 411,
  'geo_enabled': True,
  'has_extended_profile': True,
  'id': 228364667,
  'id_str': '228364667',
  'is_translation_enabled': False,
  'is_translator': False,
  'lang': None,
  'listed_count': 66,
  'location': 'Carshalton, England',
  'name': 'Chris Jackson',
  'notifications': False,
  'profile_background_color': 'C0DEED',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/228364667/1401398784',
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1284540165122396160/g2738pXr_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1284540165122396160/g2738pXr_normal.jpg',
  'profile_link_color': '1DA1F2',
  'profile_sidebar_border_color': 'C0DEED',
  'profile_sidebar_fill_color': 'DDEEF6',
  'profile_text_color': '333333',
  'profile_use_background_image': True,
  'protected': False,
  'screen_name': 'cmajrail',
  'statuses_count': 11511,
  'time_zone': None,
  'translator_type': 'none',
  'url': None,
  'utc_offset': None,
  'verified': False,
  'withheld_in_countries': []}}

In [9]:
#save tweets data to json file
file_out = f"raw_tweet_data_charities_{ntweets}.json"
with open(file_out, mode='w') as f:
    f.write(json.dumps(tweets, indent=2))
#First collect the data in json-file; specify file name here (adjust the number as queried)
fjson = 'raw_tweet_data_charities_2000.json'

In [10]:
#read json file with tweets data
with open(fjson) as file:
    data = json.load(file)
len(data)

2000

In [11]:
#tweet data record example: as documented for the Twitter API
data[0]

{'contributors': None,
 'coordinates': None,
 'created_at': 'Tue Aug 10 22:36:22 +0000 2021',
 'display_text_range': [20, 192],
 'entities': {'hashtags': [],
  'symbols': [],
  'urls': [],
  'user_mentions': [{'id': 351955341,
    'id_str': '351955341',
    'indices': [0, 8],
    'name': 'Trevor Stone',
    'screen_name': 'tms1967'},
   {'id': 248741839,
    'id_str': '248741839',
    'indices': [9, 19],
    'name': 'Tim Dunn',
    'screen_name': 'MrTimDunn'}]},
 'favorite_count': 0,
 'favorited': False,
 'full_text': '@tms1967 @MrTimDunn Got them! A very nice set turned up in a local charity shop last year. I briefly worked with JHT as a teenager, on the abortive railway museum in Crystal Palace goods yard.',
 'geo': None,
 'id': 1425224530012803075,
 'id_str': '1425224530012803075',
 'in_reply_to_screen_name': 'tms1967',
 'in_reply_to_status_id': 1425218524264423426,
 'in_reply_to_status_id_str': '1425218524264423426',
 'in_reply_to_user_id': 351955341,
 'in_reply_to_user_id_str': '351955341',
 'is_quote_status': False,
 'lang': 'en',
 'metadata': {'iso_language_code': 'en', 'result_type': 'recent'},
 'place': {'attributes': {},
  'bounding_box': {'coordinates': [[[-0.245869, 51.330352],
     [-0.117306, 51.330352],
     [-0.117306, 51.3934428],
     [-0.245869, 51.3934428]]],
   'type': 'Polygon'},
  'contained_within': [],
  'country': 'United Kingdom',
  'country_code': 'GB',
  'full_name': 'Sutton, London',
  'id': '758461cd66db17e0',
  'name': 'Sutton',
  'place_type': 'city',
  'url': 'https://api.twitter.com/1.1/geo/id/758461cd66db17e0.json'},
 'retweet_count': 0,
 'retweeted': False,
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'truncated': False,
 'user': {'contributors_enabled': False,
  'created_at': 'Sun Dec 19 14:12:08 +0000 2010',
  'default_profile': True,
  'default_profile_image': False,
  'description': 'Editor-in-Chief of Railway Gazette Group. URC Elder, husband/father. For rail industry news follow @railwaygazette, for urban rail follow @metroreportint',
  'entities': {'description': {'urls': []}},
  'favourites_count': 6719,
  'follow_request_sent': False,
  'followers_count': 2705,
  'following': False,
  'friends_count': 411,
  'geo_enabled': True,
  'has_extended_profile': True,
  'id': 228364667,
  'id_str': '228364667',
  'is_translation_enabled': False,
  'is_translator': False,
  'lang': None,
  'listed_count': 66,
  'location': 'Carshalton, England',
  'name': 'Chris Jackson',
  'notifications': False,
  'profile_background_color': 'C0DEED',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/228364667/1401398784',
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1284540165122396160/g2738pXr_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1284540165122396160/g2738pXr_normal.jpg',
  'profile_link_color': '1DA1F2',
  'profile_sidebar_border_color': 'C0DEED',
  'profile_sidebar_fill_color': 'DDEEF6',
  'profile_text_color': '333333',
  'profile_use_background_image': True,
  'protected': False,
  'screen_name': 'cmajrail',
  'statuses_count': 11511,
  'time_zone': None,
  'translator_type': 'none',
  'url': None,
  'utc_offset': None,
  'verified': False,
  'withheld_in_countries': []}}

In [12]:
#create pandas dataframe from tweet text content
df_tweets = pd.DataFrame([t['full_text'] for t in data], columns=['text'])
df_tweets

                                                   text
0     @tms1967 @MrTimDunn Got them! A very nice set ...
1                                Pray in tongues a lot.
2     About the whole Matt Caster thing: if he had s...
3     @rhymingmisfit @JoeGrowling I work for a chari...
4     #Quran \n\n O #believers ! Do not make your #c...
...                                                 ...
1995  @hike_charity @tina_swindells Awe bless...Nigh...
1996  Hey its my first ever charity stream, let's sa...
1997  @alanhendrick @piersmorgan @Cristiano He does ...
1998  Jon Stewart And Pete Davidson Are Doing A 9/11...
1999  Throwback to the time Terry Crews played Danga...

[2000 rows x 1 columns]

In [13]:
#add selected columns from tweet data fields
df_tweets['retweets'] = [t['retweet_count'] for t in data]
df_tweets['favorites'] = [t['favorite_count'] for t in data]
df_tweets['user'] = [t['user']['screen_name'] for t in data]
df_tweets

                                                   text  ...             user
0     @tms1967 @MrTimDunn Got them! A very nice set ...  ...         cmajrail
1                                Pray in tongues a lot.  ...    Charity_Heals
2     About the whole Matt Caster thing: if he had s...  ...    WrestleTalk15
3     @rhymingmisfit @JoeGrowling I work for a chari...  ...       BRUMSTOKIE
4     #Quran \n\n O #believers ! Do not make your #c...  ...      fahim_venus
...                                                 ...  ...              ...
1995  @hike_charity @tina_swindells Awe bless...Nigh...  ...       itsmemorna
1996  Hey its my first ever charity stream, let's sa...  ...  RedBeardUnleash
1997  @alanhendrick @piersmorgan @Cristiano He does ...  ...           KASFFC
1998  Jon Stewart And Pete Davidson Are Doing A 9/11...  ...    RbySlprEstate
1999  Throwback to the time Terry Crews played Danga...  ...          StepNya

[2000 rows x 4 columns]

In [14]:
stop_words = set(stopwords.words('english'))
def text_cleanup(s):
    s_unesc = html.unescape(re.sub(r"http\S+", "", re.sub('\n+', ' ', s)))
    s_noemoji = s_unesc.encode('ascii', 'ignore').decode('ascii')
    #normalize to lowercase and tokenize
    wt = word_tokenize(s_noemoji.lower())
    #filter word-tokens
    wt_filt = [w for w in wt if (w not in stop_words) and (w not in string.punctuation) and (w.isalnum())]
    #return clean string
    return ' '.join(wt_filt)

In [15]:
#add clean text column
#NOTE: apply in pandas applies a function to each element of the selected column
df_tweets['text_clean'] = df_tweets['text'].apply(text_cleanup)
df_tweets

                                                   text  ...                                         text_clean
0     @tms1967 @MrTimDunn Got them! A very nice set ...  ...  tms1967 mrtimdunn got nice set turned local ch...
1                                Pray in tongues a lot.  ...                                   pray tongues lot
2     About the whole Matt Caster thing: if he had s...  ...  whole matt caster thing said random dark episo...
3     @rhymingmisfit @JoeGrowling I work for a chari...  ...  rhymingmisfit joegrowling work charity deals m...
4     #Quran \n\n O #believers ! Do not make your #c...  ...  quran believers make charity worthless reminde...
...                                                 ...  ...                                                ...
1995  @hike_charity @tina_swindells Awe bless...Nigh...  ...                               awe bless night dave
1996  Hey its my first ever charity stream, let's sa...  ...    hey first ever charity stream let save rainbows
1997  @alanhendrick @piersmorgan @Cristiano He does ...  ...  alanhendrick piersmorgan cristiano much charit...
1998  Jon Stewart And Pete Davidson Are Doing A 9/11...  ...  jon stewart pete davidson anniversary comedy s...
1999  Throwback to the time Terry Crews played Danga...  ...  throwback time terry crews played danganronpa ...

[2000 rows x 5 columns]

In [16]:
df_tweets.to_csv (r'Charities_tweets.csv', index = False, header=True)

<h2>Highest Sentiment Tweets</h2>

In [17]:
#sentiment analysis
def sentim_polarity(s):
    return TextBlob(s).sentiment.polarity
def sentim_subject(s):
    return TextBlob(s).sentiment.subjectivity
df_tweets['polarity'] = df_tweets['text_clean'].apply(sentim_polarity)
df_tweets['subjectivity'] = df_tweets['text_clean'].apply(sentim_subject)
df_tweets

                                                   text  ...  subjectivity
0     @tms1967 @MrTimDunn Got them! A very nice set ...  ...      0.350000
1                                Pray in tongues a lot.  ...      0.000000
2     About the whole Matt Caster thing: if he had s...  ...      0.580000
3     @rhymingmisfit @JoeGrowling I work for a chari...  ...      0.633333
4     #Quran \n\n O #believers ! Do not make your #c...  ...      0.483333
...                                                 ...  ...           ...
1995  @hike_charity @tina_swindells Awe bless...Nigh...  ...      0.000000
1996  Hey its my first ever charity stream, let's sa...  ...      0.333333
1997  @alanhendrick @piersmorgan @Cristiano He does ...  ...      0.166667
1998  Jon Stewart And Pete Davidson Are Doing A 9/11...  ...      0.000000
1999  Throwback to the time Terry Crews played Danga...  ...      0.000000

[2000 rows x 7 columns]

In [18]:
#Highest sentiment tweets
df_tweets.sort_values(by='polarity', ascending=False).head(20)

                                                   text  ...  subjectivity
1985  ⛰️ZIPWIRE CHALLENGE 2021⛰️\n\nCome join One Um...  ...      1.000000
1369  Psst...\nWant to be in with a chance of owning...  ...      1.000000
1640  @brian_2436 @itsprettyjamie @JoanaTiw Awesome ...  ...      1.000000
1106  @yo @coolcatsnft Look into @TopDogBeachClub if...  ...      0.300000
1530  I did this thing at a charity best ball tourne...  ...      0.300000
615   @DaCryptoGeneral $SAVE @stwtoken best charity/...  ...      0.300000
1161  @iAmDrSoup @StevieJRaw @spirituallyemp1 @ComeG...  ...      0.300000
1414  @OperHealAmerica 1st step is faith. But the ac...  ...      1.000000
1441        @bingus_network The best charity token ever  ...      0.300000
1208  $500 in @canadahelps charity gift cards is up ...  ...      1.000000
1030  All the best man but these jerseys don't suit ...  ...      0.300000
478   ANOTHER RANBOO CHARITY SUBATHON ON THE HORIZON...  ...      0.900000
194   @CradleKeeley @TheEPT @cradle_charity @CradleK...  ...      0.900000
1251  Portuguese United put on a brilliant display t...  ...      1.000000
986   @RobBootle @ThanhmaiUK Perhaps the brilliant a...  ...      1.000000
1984  Slutty Vegan CEO and founder Pinky Cole makes ...  ...      1.000000
1721  @charity_jcm Happiest birthday to you beautifu...  ...      1.000000
1522  @charity_jcm Happy birthday, more beautiful ye...  ...      1.000000
825   @charity_jcm Happy birthday beautiful!!! Age w...  ...      1.000000
997   This is awesome!! Donate to an amazing charity...  ...      0.766667

[20 rows x 7 columns]

<h2>Lowest Sentiment Tweets</h2>

In [19]:
#Lowest sentiment tweets
df_tweets.sort_values(by='polarity', ascending=True).head(20)

                                                   text  ...  subjectivity
1920  @SWTheory66 I'll be there Theory with some mon...  ...      1.000000
574   Might as well give the £50k to charity at this...  ...      1.000000
191   @EricHaftelLive @WontCaveDave Both @GregAbbott...  ...      1.000000
70    @LovecraftLuci @FluffySunshine6 A charity that...  ...      1.000000
577   @ilucero1028 @people It literally says she’s d...  ...      0.900000
66    @outandaboutjc1 @ToddHagopian They do sell tic...  ...      1.000000
1615  Can you imagine if Dorit, Rinna &amp; Kyle wer...  ...      0.777778
312   @Charity_AG Oh no! That's so awful! I'm so sor...  ...      1.000000
1772  @DonaldJTrumpJr Almost as sick and depraved as...  ...      0.857143
297   you ever sat somewhere and think someone smell...  ...      0.666667
1388  😭This was a gucci meal... someone's bad luck c...  ...      0.666667
544   I feel bad for K*zia D*gdale's bookcase, if yo...  ...      0.666667
583   The annoying guy obsessed with giving to chari...  ...      0.950000
1967  I keep fb for 2 things, 1 is a 🌎charity &amp; ...  ...      0.712500
610   @stevebowyer84 That’s crazy…. Charity work pass?!  ...      0.900000
946   Chance made him crazy, and Jaxon was hooked. h...  ...      0.900000
1603  It's been a crazy day, join me for another cra...  ...      0.900000
140   @thespursweb Give your 200k weekly wage to cha...  ...      0.800000
1875  I'm going to slaughter all of the animals I fi...  ...      0.900000
469   LETS FUCKING GO WERE GETTING ANOTHER CHARITY S...  ...      0.800000

[20 rows x 7 columns]

<h2>Most Retweeted Content</h2>

In [20]:
#most retweeted content
df_tweets.sort_values(by='retweets', ascending=False).head(20)

                                                   text  ...  subjectivity
1288  Give this 50k to charity.\n\n#LoveIsland https...  ...      0.000000
1127         Just give the money to charity #loveIsland  ...      0.000000
1974  Had a zoom call with St Jude's charity. They w...  ...      0.083333
1526  Beeduo with Micheal illustration I did for @Dr...  ...      0.000000
1270  Have you seen the new trans equality design? T...  ...      0.454545
402   Ranboo said that he's planning to do another c...  ...      0.000000
103   $350k+ $SUSHI Paid in 5 hours!\n\nWe've set a ...  ...      0.434524
1673  I'm hollering\n\nAnti on melOn: "Hyolyn isn't ...  ...      0.833333
381   Ranboo just announced that he is going to be d...  ...      0.133333
1125         Please give the 50K to charity #LoveIsland  ...      0.000000
467   Ranboo will be doing another charity subathon ...  ...      0.000000
1412  Here's my Antarctic empire inspired Philza 3d ...  ...      0.933333
717   #Charity: Please Support Children/ Hospital Ba...  ...      0.000000
1544  tubbo has given minorities his full support fo...  ...      0.512500
1465  This Friday and Saturday @ToyFu332 and myself ...  ...      0.800000
196   Ranboo said that he's planning on doing anothe...  ...      0.500000
1525  #SandiCon2022 CHARITY SPOTLIGHT #2- a 🧵\nA uni...  ...      0.875000
408   Ranboo will be doing a charity subathon soon!,...  ...      0.000000
1296  @IcedKnife Thats easy! @YummyCrypto is the hot...  ...      0.933333
1245  Every time a trans identified male gets involv...  ...      0.416667

[20 rows x 7 columns]

<h2>Users Producing Most Content</h2>

In [21]:
#users producing most retweeted content
df_tweets.sort_values(by='retweets', ascending=False).head(20)['user']

1288         Gurdz2012
1127           _azryah
1974        SWTheory66
1526         OwllekArt
1270     WholesomeMeme
402      RanbooUpdates
103         zooshicoin
1673       photo_jenic
381         mctwtpaper
1125       Ging_CasCas
467     benchtwtupdate
1412          raxifire
717           Strat_AI
1544       loverofjoy_
1465     RockLordsRock
196       ranbooupdate
1525      sandicon2022
408       alliumupdate
1296            Sirovi
1245        grass_pale
Name: user, dtype: object